@font-face {
    font-family: 'Consolas';
    src: url('../fonts/consola.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'Consolas';
    src: url('../fonts/consolai.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
  
@font-face {
    font-family: 'Consolas';
    src: url('../fonts/consolaz.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
  
@font-face {
    font-family: 'Consolas';
    src: url('../fonts/consolab.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ClassicalChinese';
    src: url('../fonts/汉仪金陵刻经.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}