/* style.css实现网页的通用样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
/* 背景 */
.clearfix:before,.clearfix:after {
    content:"";
    display:table; 
}
.clearfix:after {
    clear:both;
}

body {
    background-color: #000;
}

/* 版心 */
.wrapper {
    min-height: calc(100vh - 30vh); /* 假设页脚高度为30vh，调整内容最小高度 */
    margin: 0 auto;
    width: 80%;
}


/* 1.页眉 */
header {
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    float: left;
}

/* 1.1.标志 */
.logo {
    position: absolute;
    left: 0;
    margin-left: 3vw;
}
.logo img {
    width: 5vw;
}

/* 1.2.导航 */
.nav {
    position: absolute;
    float: middle;
    margin-left: 10vw;
    width: 80vw;
    height: 4vw;
}
.nav li {
    float: left;
    margin-right: 3vw;
}
.nav li a {
    width: 12vw;
    height: 4vw;
    padding: 0 1vw;
    display: block;
    border-radius: 10vw;
    text-align: center;
    line-height: 4vw;
    font-size: 1.5vw;
    transition: background-color 0.3s, color 0.3s;
    border-bottom: 3px solid transparent;
    background-color: #000;
    color: #fff;
} 
.nav li a:hover {
    /* border: 3px solid #fff; */
    background-color: #fff;
    color: #000;
} 
#current {
    width: 12vw;
    height: 4vw;
    padding: 0 1vw;
    display: block;
    border-radius: 10vw;
    text-align: center;
    line-height: 4vw;
    font-size: 1.5vw;
    transition: background-color 0.3s, color 0.3s;
    border-bottom: 3px solid transparent;
    background-color: #fff; 
    color: #000;
}

/* 1.3.语言 */
.language a {
    position: absolute;
    right: 0.5vw;
    margin-top: 2vw;
    width: 10vw;
    height: 4vw;
    border-radius: 10vw;
    display: block;
    text-align: center;
    line-height: 4vw;
    font-size: 1.5vw;
    background-color: #000;
    color: #fff;;
    transition: background-color 0.3s, color 0.3s;
}

/* 1.4.菜单 */
.menu {
    position: absolute;
    right: 0;
    margin-right: 3vw;
}
.menu img {
    width: 3vw;
}

/* ======================================================================================= */

/* 1.5.侧边栏 */
.sidebar {
    position: fixed;
    top: 0;
    right: -600px;
    width: 600px;
    height: 100%;
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: right 0.3s ease;
}
.menu:hover + .sidebar, .sidebar:hover {
    right: 0;
}
/* 1.5.1.说明 */
.instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.instructionsTitle {
    margin-top: 50px;
    font-size: 26px;
    font-weight: 800;
}
.pill-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pill {
    position: relative;
    margin-top: 20px;
}
.pill-text {
    position: relative;
    width: 300px;
    height: 50px;
    background-color: #000;
    border-radius: 50px;
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}
.pill-line {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 2px;
    z-index: 0;
    background-color: black;
    transform: translate(-50%, -50%);
}
.hidden { 
    display: none;
    padding: 20px 20px;
    text-align: center; /* 让文本居中对齐 */
    max-width: 550px; /* 限制文本最大宽度 */
    overflow-wrap: break-word; /* 在必要的地方断行 */
    word-wrap: break-word; /* 浏览器兼容性考虑 */
    font-size: 18px;
    font-weight: 300;
}
.hidden ul{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.hidden li {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    background-color: #fff;
}
.pill:hover + .hidden, .hidden:hover {
    display: block;
}

/* ======================================================================================= */

/* 2.内容 */
section {
    width: 100%;
}

/* ======================================================================================= */

/* 3.页脚 */
footer {
    position: relative;
    margin-top: 20vh;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 1px solid #555;
    font-size: 0.9vw;
    color: #555;
    background: #000;
}
#motto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    height: 10vh;;
}
#links {
    margin-left: 15vw;
}
#links a {
    margin-left: 1vw;
}
#links a img {
    width: 2vw;
}