/* 2.内容 */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* 2.1.封面 */
#cover {
    position: relative;
    margin-top: 5vw;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-image: url("https://cdn.jsdelivr.net/gh/eliaszwc/eliaszwc.github.io/images/background/aboutCover.png");
    background-size: cover;
    background-position: center;
}
#aboutCoverWord {
    position: relative;
    margin-top: 10vw;
    width: 40vw;
    height: 8vw;
}