body {
    background-image: url("https://cdn.jsdelivr.net/gh/eliaszwc/eliaszwc.github.io/images/background/cover.png");
    background-size: 100vw 55vw;
    background-position: top;
    background-repeat: no-repeat;
}
/* 2.内容 */
main {
    margin: 10vw 0 5vw 0;
    padding-left: 27vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
/* 2.1.介绍 */
main img {
    width: 70vw;
}
main p {
    margin-top: 5vw;
    font-family: 'ClassicalChinese', sans-serif;
    font-size: 1.5vw;
    letter-spacing: 2px;
    color: #fff;
}